<section class="post">
	{% for figure in post.figures %}
		<figure class="post__figure">
			<img src="{{ figure.img }}" alt="{{ figure.alt }}" class="post__image"/>
			<figcaption class="post__caption">{{ figure.caption }}</figcaption>
		</figure>
	{% endfor %}

	<h2 class="post__tittle">{{ post.title }}</h2>
	<button class="post__button button">{{ post.category }}</button>

	<p class="post__text">
		<img src="{{ post.author.icon }}" alt="Author icon" class="post__icon"/>
		<span class="post__address">{{ post.author.name }}
			|</span>
		<time datetime="{{ post.author.date }}">{{ post.author.dateFormatted }}</time>
	</p>

	<p class="post__text">
		<span class="{{ post.intro_paragraph.highlight_class }}">{{ post.intro_paragraph.highlight_text }}</span>
		{{ post.intro_paragraph.text_after }}
	</p>

	<ul class="post__menu">
		{% for item in post.bullet_points %}
			<li class="post__item">
				{{ item.text }}
			</li>
		{% endfor %}
	</ul>


	<ul class="post__logos">
		{% for logo in post.features %}
			<li class="post__logo">
				<a href="#" class="post__logo-item"><img src="{{ logo.icon }}" alt="{{ logo.label }}"/>{{ logo.label }}</a>
			</li>
		{% endfor %}
	</ul>

	<blockquote class="post__quote post__quote--background">
		"{{ post.quote }}"
	</blockquote>

	<span class="post__rating">
		<img src="{{ post.rating.icon }}" alt="Rating icon" class="post__rating-icon"/>
		{{ post.rating.score }}
		{{ post.rating.source }}
	</span>

	<section class="post">
		<h3 class="post__subtittle">{{ post.nft_intro.title }}</h3>
		<p class="post__text">
			{{ post.nft_intro.paragraph_1 }}
		</p>
		<p class="post__text">
			{{ post.nft_intro.paragraph_2 }}
		</p>

		<h3 class="post__subtittle">{{ post.avatar_generator.title }}</h3>
		<p class="post__text">
			{{ post.avatar_generator.text }}
			<br class="post__line-break"/>
			<span class="post__highlight">
				<a href="{{ post.avatar_generator.link.url }}" class="post__link post__link--color">
					{{ post.avatar_generator.link.label }}
				</a>
			</span>
			{{ post.avatar_generator.call_to_action }}
		</p>
	</section>

	<p class="post__info">Tags:</p>
	<ul class="post__info-menu">
		{% for tag in post.tags %}
			<li class="post__info-item link">
				<a href="#">{{ tag }}</a>
			</li>
		{% endfor %}
	</ul>

	<p class="post__info">Share:</p>
	<ul class="post__info-menu">
		{% for share in post.share %}
			<li class="post__info-item">
				<a href="#">{{ share }}</a>
			</li>
		{% endfor %}
	</ul>
</section>

{# make it work  #}
