{% import 'ui/picture.twig' as macros %}
<section class="banner">
	<h1 class="banner__tittle">
		WITH
		<span class="banner__action banner__action--color">{{ banner.action }}</span>
		{{ banner.title }}
	</h1>
	<p class="banner__description">{{ banner.description }}</p>

	<dl class="banner__list">
		{% for stat in banner.stats %}
			<dt class="banner__total">{{ stat.value }}</dt>
			<dd class="banner__item">{{ stat.label }}</dd>
		{% endfor %}
	</dl>

	<button class="banner__button button">{{ banner.button_text }}</button>
	<a href="{{ banner.link.href }}" class="banner__link link banner__link--frame">{{ banner.link.text }}</a>
	{# <img src="{{ banner.image.src }}" alt="{{ banner.image.alt }}" class="banner__image"/> #}


	{{ ui.picture(
			"banner__picture",
			index.banner.picture.src,
			index.banner.picture.sources,
			index.banner.picture.alt,
			index.banner.picture.width,
			index.banner.picture.height,
			"center",
			"cover"
		) }}
</section>


{# make it work  #}
