{% import 'ui/picture.twig' as macros %}
<section class="banner">
	<h1 class="banner__tittle">
		WITH
		<span class="banner__action banner__action--color">{{ banner.action }}</span>
		{{ banner.title }}
	</h1>
	<p class="banner__description">{{ banner.description }}</p>

	<dl class="banner__list">
		{% for stat in banner.stats %}
			<dt class="banner__total">{{ stat.value }}</dt>
			<dd class="banner__item">{{ stat.label }}</dd>
		{% endfor %}
	</dl>

	<button class="banner__button button">{{ banner.button_text }}</button>
	<a href="{{ banner.link.href }}" class="banner__link link banner__link--frame">{{ banner.link.text }}</a>
	{# <img src="{{ banner.image.src }}" alt="{{ banner.image.alt }}" class="banner__image"/> #}


	{% set pictureData = {
  sourcePathway: [
    { srcset: '/banner/banner-cube.avif', type: 'avif' },
    { srcset: '/banner/banner-cube.webp', type: 'webp' },
    { srcset: '/banner/banner-cube.jpg', type: 'jpeg' }
  ],
  imgPath: '/banner/banner-cube.png',
  alt: 'Banner Cube'
} %}

	{{ macros.picture(pictureData, 'banner__image', '534', '640') }}

</section>


{# make it work  #}
